# Node
frontend/node_modules/

# Python
backend/venv/
backend/__pycache__/
*.pyc

# Environment
.env
.env.local
.env.*.local
!*.env.example
!*env.example
backend/.env
frontend/.env
frontend/.env.local
frontend/.env.*.local

# Firebase Secret Key
backend/firebase_key.json
backend/*firebase*.json

# VS Code
.vscode/

# Build
frontend/dist/

# OS
.DS_Store
Thumbs.db